absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.8.1
annotated-types==0.6.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.2.0
Authlib==1.3.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
bokeh==2.4.3
boolean.py==5.0
brotlipy==0.7.0
CacheControl==0.14.3
cachetools==5.2.0
certifi==2022.6.15
certipy==0.1.3
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
cmake==3.25.0
conda==4.11.0
conda-package-handling==1.8.1
contourpy==1.0.6
cryptography==37.0.1
cupy-cuda11x==11.5.0
cycler==0.11.0
cyclonedx-python-lib==9.1.0
Cython==0.29.25
dask==2022.12.0
dask-jobqueue==0.8.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distributed==2022.12.0
dparse==0.6.4b0
dpctl==0.13.0+8.g921229cca
dpnp==0.10.1
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
fastrlock==0.8.1
filelock==3.8.2
flatbuffers==22.10.26
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2022.11.0
funcsigs==1.0.2
future==0.18.2
gast==0.4.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.51.0
h11==0.14.0
h5py==3.7.0
HeapDict==1.0.1
httpcore==1.0.5
httpx==0.27.0
idna==2.10
imageio==2.22.4
importlib-metadata==5.0.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isoduration==20.11.0
Janome==0.4.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.0.1
json5==0.9.10
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter_client==7.4.7
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_proxy==4.3.0
jupyter_server_terminals==0.5.3
jupyter-telemetry==0.1.0
jupyterhub==5.4.4
jupyterhub-ldapauthenticator==1.3.2
jupyterhub-systemdspawner==1.0.1
jupyterlab==4.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.28.0
jupyterlab-tensorboard-pro==4.0.0
jupyterlab-widgets==3.0.3
keras==2.11.0
kiwisolver==1.3.2
ldap3==2.9.1
libarchive-c==2.9
libclang==14.0.6
license-expression==30.4.4
lightgbm==3.3.3
lit==15.0.7
llvmlite==0.38.1+0.g650c36d.dirty
locket==1.0.0
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.21.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mecab-python3==1.0.5
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
mpi4py==3.0.3
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.3
mwoauth==0.4.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
notebook==6.5.2
notebook_shim==0.2.2
npm==0.1.1
numba==0.55.1
numba-dpex==0.18.1+8.ga7a1065
numexpr==2.8.1
numpy==1.21.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthenticator==15.1.0
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
optional-django==0.1.0
overrides==7.7.0
packageurl-python==0.17.6
packaging==24.0
pamela==1.2.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip==23.0.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip-review==1.2.0
platformdirs==2.5.4
pocketsphinx==5.0.0
prometheus-client==0.15.0
prompt-toolkit==3.0.33
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-serializable==2.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pycosat==0.6.3
pycparser==2.21
pydantic==2.7.0
pydantic_core==2.18.1
pyeditline==2.0.1
pyg-lib==0.2.0+pt20cu118
Pygments==2.13.0
PyJWT==2.9.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
referencing==0.34.0
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
ruamel-yaml-conda==0.15.100
safety==3.1.0
safety-schemas==0.0.2
scikit-image==0.19.3
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.12.1
Send2Trash==1.8.3
setuptools==69.5.1
shellingham==1.5.4
simpervisor==1.0.0
six==1.16.0
SMP==0.1.4
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.5
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.44
stack-data==0.6.1
swing==0.0.4
sympy==1.11.1
TBB==0.2
tblib==1.7.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-gpu==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.17.0
threadpoolctl==2.2.0
tifffile==2022.10.10
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0+cu118
torch-cluster==1.6.1+pt20cu118
torch-geometric==2.3.0
torch-scatter==2.1.1+pt20cu118
torch-sparse==0.6.17+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
tornado==6.2
tqdm==4.62.2
traitlets==5.14.3
triton==2.0.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
unidic-lite==1.0.8
uri-template==1.3.0
urllib3==1.26.11
virtualenv==20.17.1
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==4.0.3
wrapt==1.14.1
xarray==2022.12.0
xgboost==1.4.2
xyzservices==2023.2.0
yarl==1.8.2
zict==2.2.0
zipp==3.10.0
